// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

.heading {
	width: 100%;
	height: 150px;
	background:white;
}

.heading_text {
	text-font: "Trebuchet MS", Helvetica, sans-serif;
	font-size:60px;
	text-weight:bolder;
	display:flex;
	justify-content: center;
}
.main {
	background: url('/assets/IMG_0403.jpg');
	height:100%;
	justify-content:center;
	padding-left:90px;
	padding-top:30px;
}
.newVisitorBox {
	border: 3px solid black;
    padding: 8px;
	width:500px;
	background-color:white;
	opacity: 0.7;
	display:flex;
	flex-direction:column;
}
.bold {
	font-weight:bold;
}
.space {
	padding:10px;
}
.guestbookEntry {
	border: 3px solid black;
    padding: 8px;
	width:500px;
	background-color:white;
	opacity: 0.5;
}
.guestbookEntry_text {
	text-font: "Trebuchet MS", Helvetica, sans-serif;
}